.link-top{
    color:#1a0dab
}

.l-paragraph{
    color: #4d5156;
    line-height: 1.58;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    width: 60vw;
}
.menu-img{
    height:0.8rem;
    padding-left:1vh;
}